.finCaseNumber {
  font-size: 100px;
  font-family: "Black Ops One", cursive;
}

.finCases {
  border: 5px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
}

.finCaseLabel {
  font-size: 20px;
}
.deathsFin {
  font-size: 25px;
  padding-top: 25px;
}
