.dataContainer {
  width: 420px;
  padding: 25px;
  margin: 5px;
  border: 1px solid black;
  height: 100vh;
  overflow: scroll;
}
.countryLabel,
.countryCases {
  border: 2px solid #666;
  padding: 10px;
}
.countryLabel {
  border-right: 0;
}
.casesByCountry {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2px;
}
.App {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
